/* seif var colors */
:root{ 
  --BG: #FEFAE0;
  --borde: #faedcd;
  --outline: #ccd5ae;
  --btnC: #d4a373;
  --tabel: #04aa6d;
}
/* seif var colors */
 /*/////////////////////////////start seif////////////*/ 
/* style for each brand page */

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
 
}
 

.Jbody{
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}
@media (max-width: 768px){
  .Jmodels{
      grid-template-columns: auto;
  }
  }


#Jh1{
  text-align: center;
  padding: 5px;
  margin-top: 3px;
}
.Jicon{
  height: 48px;
  margin-top: 2px;
  margin-left: 5px;

}
.Jbody {
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
  background-color: var(--BG)
 }
 
.Jmodels{
  max-width: 1200px;
  margin:0 auto;
  padding: 48px 32px ;
}
.Jh2{
  font-size: 56px;
  color: #444;
  margin-bottom: 48px;
  text-transform: uppercase;
  text-align: left;
}
.Jh3{
  text-transform: uppercase;
}
.Jmodels .Jcars{
  display: grid;
  /* display: flex;
  flex-direction: row; */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 5px;
 
  
}
/* animated outline */
.Jmodels .Jcars .Jcar:hover{
  outline: .16px solid #ccc;
  outline-offset: 0;
}
/* boxes style */
.Jmodels .Jcars .Jcar{
  text-align: center;
  padding: 48px 16px;
  background: var(--borde);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  outline: .16px solid var(--outline);
  outline-width: 16px;
  outline-offset: -24px;
  cursor: pointer;
  
}
#Ju{
  list-style: none;
}

.Jimage{
  padding: 10px;

}

.Jmodels .Jcars .Jcar .Jimage{
  height: 400px;
  width: 300px;
  object-fit: cover; 
  max-width: 100%; 
}
.Jmodels .Jcars .Jcar:hover .Jimage{
  transform: scale(.9);
}
/* button layout */
.btn{
      background-color: white;
      color: black;
      border: 2px solid var(--btnC);
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
.Jbody a:hover, a:active {
      background-color: var(--outline);
      color: white;
    }
 .JJbody a:hover, a:active {
      background-color: var(--outline);
      color: white;
    }

        /* style for each brand page */


      /* start css for each model page */

/* Base styles */

.Jnameid{
  display: none;
}
.Jshow{
  border: solid var(--tabel);
  width: 100px;
  border-radius: 5px;
  padding: 5px 3px;
  background-color: white;
}
.Jshow:hover{
  background-color: var(--tabel);
}
.JJbody {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--BG);
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}

.J{
  display: flex;
  flex-direction: row;
  gap: 500px;
}

/* .Jtr:hover{
  background-color: #04aa6d;
} */

.JP {
  color: var(--tabel);
  margin: 3px;
  padding-bottom: 5px;
}

.Jdata {
  padding-top: 15px;
  word-spacing: 2px;
  line-height: 1.5;
  opacity: 70%;
  color: #7a6a6a;
}

.JCname {
  letter-spacing: 2px;
  font-style: italic;
}

.Jprice {
  padding-top: 32px;
}

.Jh1J {
  text-align: left;
  text-decoration: double;
  padding: 16px;
  margin: 32px;
  position: absolute;
  left: 50%;
  /* display: flex;
  display: inline-block; */
  font-size: 20px;
  background-color: var(--BG);
  box-shadow:  0 6px 8px rgba(0, 0, 0, 0.1);
}
.Jtable,#Jth,#Jtd {
  /* border: 2px solid rgb(83, 216, 83); */
  border-radius: 6px;
  margin-left: 28px;
  padding: .5rem;
  margin: .5rem;
  margin-top: 90px;
}

.Jtable {
  /* border: solid #ffffff; */
  position: relative;
  float: left;
  width: 750px;
  height: 500px;
  position: absolute;
  top: 500px;
}

.JJbody #Jth {
  background-color: var(--tabel);
  border-radius: 6px;
  color: white;
}

.JJbody #Jth, #Jtd {
  border: 1px solid var(--tabel);
  border-radius: 6px;
}
#Jtr:hover{
  background-color: var(--btnC); 
} 


.Jprice {
  text-align: center;
}

.JNprice {
  font-weight: bolder;
  font-size: xx-large;
  color: var(--tabel);
}

.Jimg {
  padding-top: 30px;
  padding-left: 28px;
  margin: 10px;
  width: auto;
  height: 400px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.Jimg:hover{
  transform: scale(1.1);
  /* box-shadow:  0 6px 8px rgba(0, 0, 0, 0.1); */
  /* opacity: 0.8; */

}

.Jgallery {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  margin: 5px;
  width: 680px;
  margin-right: 16px;
  margin-top: 60px;
}

.JPgallery{
  font-size: x-large;
  font-weight: bolder;
}

/* .JPvideo {
  position: absolute;
  right: 32%;
}
 */
/* .JPaudio {
  position: absolute;
  right: 32%;
  top: 115%;
} */

/* .Jaudio {
  position: absolute;
  top: 120%;
  left: 59%;
  color: var(--tabel);
} */

.Jform {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1)  ;
  padding: 5px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  float: right;
  border: 2px  solid  var(--tabel);
  width: 260px;
}

.Jform .Jp {
  text-align: left;
  font-style: italic;
  font-size: large;
  font-weight: bold;
}

.Jinput {
  border: 1px solid black;
  height: 20px;
}

.Jbtn {
  background-color: white;
  color: black;
  border: 2px solid var(--tabel);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Jbtn:hover,
.Jbtn:active {
  background-color: var(--tabel);
  color: white;
}

.Jprice {
  text-align: center;
}

.Jcontainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width as needed */
  gap: 500px; /* Add gap between grid items */
  margin-top: 100px;
}
#Jh3{
  margin-left: -130px;
}
.Jlist{
  padding: 2px;
  /* margin-left: auto; */
  font-size: 30px;
  /* margin-top: -650px;
  margin-right: 80px; */
  color: #7a6a6a;

}

.Jifram {
  height: 650px;
  width: 700px;
  margin-left: 17px;
  margin-top: 1px;
}



/* Responsive styles */
@media only screen and (min-width: 1201px) and (max-width: 1400px){

  .Jgallery{
    width: 500px;
  }
  .Jtable {
   position: absolute;
   width: 650px;
}
.Jifram{
  margin-top: 50px;
}

}

@media only screen and (max-width: 1200px) {
  
.Jimg{
  max-width: 100%; 
  height: auto; 
  width: auto; 
  display: block;
  margin: 0 auto; 
}

.JJbody {
  grid-template-columns: 1fr; 
}

.Jtable {
    width: 100%; 
    height: auto; 
    position: static; 
    top: auto; 
}

.Jgallery {
  position: static; 
  margin: 0; 
  width: 100%;
}

.Jvideo {
  width: 100%; 
  height: auto; 
} 

.JPvideo,
.JPaudio {
  position: static;
  right: auto;
  top: auto;
}

.Jaudio {
  left: auto;
  top: auto;
}

.Jform {
  float: none;
  margin-top: 20px; 
}

.Jlist {
  padding: 2px;
  margin-left: 0; 
  margin-top: 20px; 
  font-size: 24px; 
  text-align: center; 
}

li{
  list-style: none;
}
/* #Jh3{
  text-align: center;
} */

.Jifram {
  margin: 20px auto; 
  width: 100%;
}
.Jcontainer{
  gap: 20px;
}


}

/* end css for each model page */

/*/////////////////////////////end seif////////////*/



/*////////////////////////footer////////////////////////////////*/
.yf{
   background-color: black; 
   padding: 0;
   margin: 0;
}
.yicon{
  height: 150px;
  width: 150px ;
  margin-bottom: 80px;
}
.yy{
  color: white;
  display: inline-block;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}

.yl{
 list-style: none; 
 display: inline-block;
}
.yl li{
  color: white;
}
.yl a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 5px ;
   padding-left: 120px; 
}
.yicon:hover{
  transform: scale(0.9,0.9);
}
.yyl{
  display: inline-block;
  list-style: none;
}
.yyl li{
  color: white;
}
.yyl a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 5px ;
   padding-left: 260px; 
}
.yp{
  padding: 10px;
  margin: 5px ;
  padding-left: 90px;
  display: flex;
  display: inline-block;
}
.yll{
  list-style: none; 
 display: inline-block;
}
.yll li{
  color: white;
}
.yll a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 5px ;
  padding-left: 200px;
}
.yic{
  display: inline-block;
  padding-left: 100px ;
  font-size: 40px;
}
.yy li:hover{
   color: hotpink;
}
.yc{
  color: white;
  text-align: center;
  background-color: rgb(4, 4, 41);
}
.yph{
  display: flex;
  display: inline-block;
  font-size: 40px;
  height: 40px;
  width: 40px;
}
/*//////////////////////////end of footer//////////////////////////////*/




 
.ztopnav {
	overflow: hidden;
	background-color: #333;
}
.ztopnav a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 50px;
	text-decoration: none;
}
.ztopnav a:hover {
	background-color: #ddd;
	color: black;
}
.zimage1 {
	float: left;
	display: block;
	color: white;
	padding: 5px 25px;
	background-color: #333;
}
.zsidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 250px;
	z-index: 999;
	background-color: #33333333;
	backdrop-filter: blur(10px);
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
}
.zsidebar li {
	width: 100%;
	align-items: left;
}
.zsidebar a {
	float: left;
	display: block;
	color: white;
	text-align: left;
	padding: 20px 10px;
	text-decoration: none;
}
.zsidebar a:hover{
	width: 100%;
	background-color: #ddd;
	color: black;
}

.ztext {
position: absolute;
top: 230px;
left: 18px;
font-size: 39px;
text-align: center;
font-style: italic;
color: white;
text-shadow: 3px 3px 5px #000000;
}

.zbody {
background-image: url('../image/Background.jpg');
background-repeat: no-repeat;		
background-size: cover;
height: 100vh;
margin: 0;
padding: 0;
}

.wrapper{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 450px;
display: flex;
box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
width: 35%;
background: linear-gradient(to right,#01a9ac,#01dbdf);
padding: 30px 25px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
text-align: center;
color: #fff;
}

.wrapper .left img{
border-radius: 5px;
margin-bottom: 10px;
}

.wrapper .left h4{
margin-bottom: 10px;
}

.wrapper .left p{
font-size: 12px;
}

.wrapper .right{
width: 65%;
background: #fff;
padding: 30px 25px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
text-transform: uppercase;
letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
display: flex;
justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
font-size: 13px;
margin-bottom: 10px;
color: #919aa3;
}

.wrapper .social_media ul{
display: flex;
}

.wrapper .social_media ul li{
width: 45px;
height: 45px;
background: linear-gradient(to right,#01a9ac,#01dbdf);
margin-right: 10px;
border-radius: 5px;
text-align: center;
line-height: 45px;
list-style: none;
}

.wrapper .social_media ul li a{
color :#fff;
display: block;
font-size: 18px;
}
